<header class="masthead">
  <div class="wrap">
    <div>
      <h1 class="masthead-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p class="masthead-sub">{{ site.tagline }}</p>
    </div>
    <div class="masthead-logo">
      <a href="https://www.lth.se/">
        <img src="{{ site.data.images.lth_logo }}"
             onerror="this.onerror=null;this.src='{{ '/assets/img/lu-logo.svg' | relative_url }}';"
             alt="LTH, Faculty of Engineering, Lund University">
      </a>
    </div>
  </div>
</header>
